@font-face {
	font-family: "Limkin";
	src: url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.ttf") format(truetype),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff") format(woff),
		 url("https://toomuchtype.com/fonts/limkin/variable/TMT-LimkinVF.woff2") format(woff2);
	font-weight: 100 900;
}
@font-face {
	font-family: "Woof Woof";
	src: url("/assets/fonts/TMTWoofWoofVF.ttf");
}
@font-face {
	font-family: "Departure Mono";
	src: url("/assets/fonts/DepartureMono-Regular.otf") format("opentype"),
		url("/assets/fonts/DepartureMono-Regular.woff") format("woff"),
		url("/assets/fonts/DepartureMono-Regular.woff2") format("woff2");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}
body {
	font-family: "Departure Mono", sans-serif;
	font-variation-settings: "wght" 300, "SRFF" 0;
	font-weight: 300;
	image-rendering: pixelated;
}
img {
	display: block;
	width: 100%;
}
.mouse {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	pointer-events: none;
	display: none;
	z-index: 9999999999;
	filter: drop-shadow(1px 1px white) drop-shadow(-1px 1px white) drop-shadow(1px -1px white) drop-shadow(-1px -1px white);
}

/* Container */
.container {
	display: flex;
	flex-direction: column;
	padding: 2.5vw 10vw 10vw 10vw;
	gap: 3vw;
}

/* Decorative sidebar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 20px;
	overflow: hidden;
	pointer-events: none;
}
.sidebar-left {
	left: 0;
}
.sidebar-right {
	right: 0;
}
.sidebar-icon {
	width: 40px;
	animation: sidebar-icon-move steps(1) 1s infinite alternate;
}
.sidebar-icon img {
	width: 100%;
	animation: sidebar-icon-rotate steps(1) 1s infinite alternate;
}
body[data-static="1"] .sidebar-icon {
	animation-play-state: paused;
}
body[data-static="1"] .sidebar-icon img {
	animation-play-state: paused;
}
.sidebar-icon:nth-child(even) {
	animation-delay: -1s;
}
.sidebar-icon:nth-child(even) img {
	animation-delay: -1s;
}
@keyframes sidebar-icon-move {
	0% {
		transform: translateX(15px);
	}
	50% {
		transform: translateX(-15px);
	}
}
@keyframes sidebar-icon-rotate {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
}

/* Header */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-logo {
	max-width: 600px;
	width: 100%;
}
.header-logo-mobile {
	display: none;
}
.header-title {
	text-transform: lowercase;
	font-weight: normal;
	text-align: center;
	text-wrap: balance;
	padding: 20px;
	font-size: 24px;
	line-height: 1em;
}

/* Nav */
.nav {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}
.nav-link {
	color: white;
	padding: .6em 1em .5em 1em;
	position: relative;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 18px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	filter: invert(100%) drop-shadow(6px 6px black) drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black);
	will-change: filter;
}
.nav-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
	z-index: -1;
}
.nav-link:nth-child(3n+1)::before {
	background-image: url('/assets/ui/textframe1.gif');
}
.nav-link:nth-child(3n+2)::before {
	background-image: url('/assets/ui/textframe2.gif');
}
.nav-link:nth-child(3n+3)::before {
	background-image: url('/assets/ui/textframe3.gif');
}
body[data-static="1"] .nav-link:nth-child(3n+1)::before {
	background-image: url('/assets/ui/textframe1.png');
}
body[data-static="1"] .nav-link:nth-child(3n+2)::before {
	background-image: url('/assets/ui/textframe2.png');
}
body[data-static="1"] .nav-link:nth-child(3n+3)::before {
	background-image: url('/assets/ui/textframe3.png');
}
.nav-link:hover {
	filter: invert(0%) drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black);
}

/* Projects */
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	align-content: start;
	gap: 2.5vw;
	min-height: 75vh;
}
.project {
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	background-size: 100% 100%;
	align-items: center;
	gap: 10px;
	width: 100%;
}
.project::before {
	content: "";
	position: absolute;
	top: -20px;
	left: -20px;
	right: -20px;
	bottom: -20px;
	background-size: 100% 100%;
	pointer-events: none;
	z-index: 9;
}
.project:hover::before {
	background-image: url('/assets/ui/select.gif');
}
body[data-static="1"] .project:hover::before {
	background-image: url('/assets/ui/select.png');
}
.project-media {
	position: relative;
	background-color: black;
}
.project-media::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	background-size: 100% 100%;
	z-index: 1;
}
.project:nth-child(3n+1) .project-media::before {
	background-image: url("/assets/ui/frame1.gif");
}
.project:nth-child(3n+2) .project-media::before {
	background-image: url("/assets/ui/frame2.gif");
}
.project:nth-child(3n+3) .project-media::before {
	background-image: url("/assets/ui/frame3.gif");
}
body[data-static="1"] .project:nth-child(3n+1) .project-media::before {
	background-image: url("/assets/ui/frame1.png");
}
body[data-static="1"] .project:nth-child(3n+2) .project-media::before {
	background-image: url("/assets/ui/frame2.png");
}
body[data-static="1"] .project:nth-child(3n+3) .project-media::before {
	background-image: url("/assets/ui/frame3.png");
}
.project-frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.project-thumbnail {
	width: 100%;
}
.project-info {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
}
.project-icon {
	width: 60px;
}
.project-title {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1px;
	font-weight: normal;
	gap: 5px;
}
.project-title-code {
	text-transform: uppercase;
	color: white;
	padding: .6em 1em .5em 1em;
	position: relative;
	letter-spacing: 0.05em;
	font-size: 12px;
	line-height: 1em;
	transform: translate(-15px, -2px) rotate(-3deg);
}
.project-title-code::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
	z-index: -1;
}
.project:nth-child(3n+1) .project-title-code::before {
	background-image: url('/assets/ui/textframe1.gif');
}
.project:nth-child(3n+2) .project-title-code::before {
	background-image: url('/assets/ui/textframe2.gif');
}
.project:nth-child(3n+3) .project-title-code::before {
	background-image: url('/assets/ui/textframe3.gif');
}
body[data-static="1"] .project:nth-child(3n+1) .project-title-code::before {
	background-image: url('/assets/ui/textframe1.png');
}
body[data-static="1"] .project:nth-child(3n+2) .project-title-code::before {
	background-image: url('/assets/ui/textframe2.png');
}
body[data-static="1"] .project:nth-child(3n+3) .project-title-code::before {
	background-image: url('/assets/ui/textframe3.png');
}
.project-title-name {
	text-transform: lowercase;
	font-size: 18px;
	line-height: 1em;
	text-wrap: balance;
}

/* Footer */
.footer {
	padding: 5vw;
	background-color: black;
	position: relative;
	min-height: 75vh;
	color: white;
	font-size: 5vw;
	text-transform: lowercase;
}
.footer::before {
	content: "";
	position: absolute;
	top: -40px;
	height: 41px;
	left: 0;
	right: 0;
	background-image: url('/assets/media/footer.gif');
	background-size: 100% 100%;
}
body[data-static="1"] .footer::before {
	background-image: url('/assets/media/footer.png');
}

/* Info */
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
}
.info-title {
	display: none;
}
.info-text {
	text-transform: lowercase;
	font-size: 18px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	padding: 160px 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: safe center;
	gap: 1em;
	text-wrap: pretty;
}
.info-text p {
	max-width: 32em;
	width: 100%;
}
.info-text p a {
	color: inherit;
	text-decoration: none;
	background-color: black;
	color: white;
}
.info-text p a:hover {
	background-color: white;
	color: black;
	outline: 1px solid black;
}
.info-return {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 120px;
	height: 120px;
	background-size: 100% 100%;
	color: white;
	background-image: url("/assets/ui/blob.gif");
	z-index: 9999;
	padding: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
body[data-static="1"] .info-return {
	background-image: url("/assets/ui/blob.png");
}
.info-return-left {
	bottom: 0;
	left: 0;
}
.info-return-right {
	bottom: 0;
	right: 0;
}
.info-return img {
	width: 100%;
}
.info-return h3 {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	text-transform: lowercase;
	padding: .3em .6em;
	line-height: 1em;
	display: none;
}
.info-return:hover img {
	display: none;
}
.info-return:hover h3 {
	display: block;
}

/* Mobile styles */
@media only screen and (max-width: 1000px) {
	* {
		cursor: default;
	}
	.info-return {
		cursor: pointer;
	}
	.info-text p a {
		cursor: pointer;
	}
	.mouse {
		display: none !important;
	}
	.projects {
		grid-template-columns: 1fr 1fr;
	}
	.project {
		cursor: pointer;
	}
	.project-title-name {
		font-size: 16px;
	}
	.header-logo {
		width: 480px;
	}
	.header-title {
		font-size: 18px;
	}
	.nav-link {
		font-size: 14px;
		cursor: pointer;
	}
	.sidebar-icon {
		width: 32px;
	}
}
@media only screen and (max-width: 700px) {
	.container {
		padding: 10vw 2.5vw;
		gap: 10vw;
	}
	.projects {
		padding: 2.5vw;
		gap: 5vw;
	}
	.project {
		padding: 10px;
	}
	.header-logo {
		width: 100%;
	}
	.header-logo-desktop {
		display: none;
	}
	.header-logo-mobile {
		display: block;
	}
	.sidebar {
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	.projects {
		grid-template-columns: 1fr;
	}
}