@font-face {
	font-family: "Limkin";
	src: url("assets/fonts/GDLimkinVF.woff2");
	font-weight: 100 900;
}
:root {
	--white: #dde5ed;
	--black: #101820;
	--green: #0f9e71;
	--yellow: #ffb600;
	--blue: #1c6fd4;
	--red: #e62838;
	--primary: var(--red);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 700, "SRFF" 0;
	font-weight: 700;
	background-color: var(--primary);
}
img {
	display: block;
	width: 100%;
}
.container {
	display: grid;
	grid-template-columns: 480px 1fr;
	width: 100vw;
	height: 100dvh;
	padding: 20px;
}

/* Projects */
.projects {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	z-index: 9999;
	gap: 20px;
	padding: 20px;
}
.project {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	padding: 5px 20px 20px 20px;
	color: var(--black);
	text-decoration: none;
	transition: flex-shrink .5s, transform .5s, opacity .2s;
	position: relative;
	z-index: 9;
	box-shadow: 10px 10px 0 var(--black);
	border: 2px solid var(--black);
	background-color: var(--white);
}
.project:nth-child(even) {
	transform: rotate(2deg);
}
.project:nth-child(odd) {
	transform: rotate(-1deg);
}
.project:hover {
	flex-shrink: 0;
	transform: rotate(0deg);
}
a.project:hover {
	color: var(--white);
	background-color: var(--black);
}
a.project:active {
	opacity: .5;
	transform: scale(.9);
}
.project img {
	display: none;
}
.project h3 {
	transform-origin: bottom center;
	color: inherit;
	margin: 20px 0 10px 0;
	font-variation-settings: "wght" 900, "SRFF" 0;
	font-weight: 900;
	font-size: 32px;
	letter-spacing: -0.05em;
	line-height: 1em;
}
.project p {
	color: inherit;
	font-size: 18px;
	font-variation-settings: "wght" 600, "SRFF" 0;
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 1.2em;
}
.project a {
	color: inherit;
	border-bottom: 2px solid var(--black);
	text-decoration: none;
}
a.project:hover a {
	border-bottom: 2px solid var(--white);
}
.project a:hover {
	border-bottom: 2px solid transparent;
}
.project a:active {
	opacity: .5;
}
.project-cta {
	margin-top: 10px;
	border-bottom: 2px solid var(--black);
	display: inline-block;
	fill: var(--black);
}
.project:hover .project-cta {
	border-bottom: 2px solid var(--white);
	fill: var(--white);
}
.project:hover .project-cta:hover {
	border-bottom: 2px solid transparent;
}
.project-cta svg {
	height: .6em;
	margin-left: .1em;
	transform: translateY(.03em);
}

/* Artwork */
.artwork {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	cursor: crosshair;
	border: 2px solid var(--black);
	margin: 20px;
	/* box-shadow: 10px 10px 0 var(--black); */
	/* background-color: var(--white); */
}
.title-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title {
	color: var(--black);
	font-family: "Limkin", sans-serif;
	font-variation-settings: "wght" 900, "SRFF" 0;
	font-weight: 900;
	font-size: 8vw;
	line-height: .5em;
	letter-spacing: -0.05em;
	animation: title-smash 2s forwards cubic-bezier(0.76, 0, 0.24, 1);
}
@keyframes title-smash {
	0% {
		transform: scale(.6);
	}
	40% {
		transform: scale(.8);
	}
	80% {
		transform: scale(.2);
	}
	100% {
		transform: scale(1);
	}
}
.title span {
	display: inline-block;
	z-index: 9;
}

/* Mobile styles */
@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: 1fr;
		width: auto;
		height: auto;
		padding: 0;
	}
	.artwork {
		grid-row: 1;
		height: 50vh;
	}
	.title {
		font-size: 12vw;
	}
	.project {
		flex-grow: 0;
		flex-shrink: 0;
		overflow: auto;
	}
}